---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/Hero.astro';
---

<Layout title="The boss - Bienvenido">
	
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth">
		<section class="snap-center">
			<Hero/>
		</section>
	</main>
</Layout>

<style>
	
</style>
